<ion-header [appScrollTracker] = 'scrollArea'>
  <ion-toolbar color="primary">
    <ion-title>
      {{stringKey.FAQ}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outline" (click)="closeModal()">{{
            stringKey.CLOSE
        }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- header -->
<ion-content color="light" #scrollArea scrollEvents="true">
  <!-- page title -->
  <app-page-info-title [title]="stringKey.FAQ" [info]="stringKey.FAQ_INFO"></app-page-info-title>
  <!-- page title -->
  <ion-card color="none" *ngFor="let faq of faqs">
    <ion-item color="medium" lines="none">
      <ion-icon color="primary" slot="start" [src]="stringKey.ICON_HELP"></ion-icon>
      <p>
        {{faq.question}}
      </p>
    </ion-item>
    <ion-item lines="none">
      <p [innerHTML]="faq.answer" color="primary"></p>
    </ion-item>
  </ion-card>
</ion-content>