ion-card {
  border: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.app_name{
  text-shadow: 2px 2px #000;
  font-weight: bold;
}

.app_tag_name{
  color: rgb(253, 245, 132);
  text-shadow: 2px 2px #000;
  font-weight: bold;
  font-size: large;
}