.ion-color-semi-dark {
  --ion-color-base: var(--ion-color-semi-dark) !important;
  --ion-color-base-rgb: var(--ion-color-semi-dark-rgb) !important;
  --ion-color-contrast: var(--ion-color-semi-dark-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-semi-dark-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-semi-dark-shade) !important;
  --ion-color-tint: var(--ion-color-semi-dark-tint) !important;
}
.ion-color-quaternary {
  --ion-color-base: var(--ion-color-quaternary) !important;
  --ion-color-base-rgb: var(--ion-color-quaternary-rgb) !important;
  --ion-color-contrast: var(--ion-color-quaternary-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-quaternary-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-quaternary-shade) !important;
  --ion-color-tint: var(--ion-color-quaternary-tint) !important;
}

.ion-color-info {
  --ion-color-base: var(--ion-color-info) !important;
  --ion-color-base-rgb: var(--ion-color-info-rgb) !important;
  --ion-color-contrast: var(--ion-color-info-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-info-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-info-shade) !important;
  --ion-color-tint: var(--ion-color-info-tint) !important;
}

.ion-color-primary-gradient {
  --ion-color-base: var(--ion-color-primary-gradient) !important;
  --ion-color-base-rgb: var(--ion-color-primary-gradient-rgb) !important;
  --ion-color-contrast: var(--ion-color-primary-gradient-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-primary-gradient-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-primary-gradient-shade) !important;
  --ion-color-tint: var(--ion-color-primary-gradient-tint) !important;
}

.ion-color-semi-dark-gradient {
  --ion-color-base: var(--ion-color-semi-dark-gradient) !important;
  --ion-color-base-rgb: var(--ion-color-semi-dark-gradient-rgb) !important;
  --ion-color-contrast: var(--ion-color-semi-dark-gradient-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-semi-dark-gradient-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-semi-dark-gradient-shade) !important;
  --ion-color-tint: var(--ion-color-semi-dark-gradient-tint) !important;
}

.ion-color-sentiment {
  --ion-color-base: var(--ion-color-sentiment) !important;
  --ion-color-base-rgb: var(--ion-color-sentiment-rgb) !important;
  --ion-color-contrast: var(--ion-color-sentiment-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-sentiment-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-sentiment-shade) !important;
  --ion-color-tint: var(--ion-color-sentiment-tint) !important;
}


