// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

@import url(https://fonts.googleapis.com/css?family=Ubuntu&display=swap);

:root {
  // font
  --ion-font-family: 'Ubuntu', sans-serif;
  font-family: var(--ion-font-family) !important;
  
  /** primary **/
  --ion-color-primary: linear-gradient(to left, #f1304d, #f20b2e);
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #7e0d3e;
  --ion-color-primary-tint: #c72a7d;

  /** secondary **/
  --ion-color-secondary: #b11659;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #961247;
  --ion-color-secondary-tint: #c52b6e;

  /** tertiary **/
  --ion-color-tertiary: #c04174;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #8a1041;
  --ion-color-tertiary-tint: #e43a7e;

  
  /** quaternary **/
  --ion-color-quaternary: #3dc2ff;
  --ion-color-quaternary-rgb: 61,194,255;
  --ion-color-quaternary-contrast: #000000;
  --ion-color-quaternary-contrast-rgb: 255,255,255;
  --ion-color-quaternary-shade: #00aeff;
  --ion-color-quaternary-tint: #59c7fa;

  /** success **/
  --ion-color-success: #01923b;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffe26d;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #000;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #d4ba4e;
  --ion-color-warning-tint: #c09d0f;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #202224;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** pitch dark **/
  --ion-color-pitch-dark: #2b2e2f;
  --ion-color-pitch-dark-rgb: 34, 34, 34;
  --ion-color-pitch-dark-contrast: #ffffff;
  --ion-color-pitch-dark-contrast-rgb: 255, 255, 255;
  --ion-color-pitch-dark-shade: #1e2023;
  --ion-color-pitch-dark-tint: #383a3e;

  /** semi dark **/
  --ion-color-semi-dark: #f1304d;
  --ion-color-semi-dark-rgb: 34, 34, 34;
  --ion-color-semi-dark-contrast: #ffffff;
  --ion-color-semi-dark-contrast-rgb: 255, 255, 255;
  --ion-color-semi-dark-shade: #1e2023;
  --ion-color-semi-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #dcdde4;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #252525;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #fda3af;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** primary-gradient **/
  --ion-color-primary-gradient: linear-gradient(#880e4f, #f21c3c);
  --ion-color-primary-gradient-rgb: 244, 244, 244;
  --ion-color-primary-gradient-contrast: #fff5f5;
  --ion-color-primary-gradient-contrast-rgb: 0, 0, 0;
  --ion-color-primary-gradient-shade: #d7d8da;
  --ion-color-primary-gradient-tint: #f5f6f9;

   /** dark-gradient **/
   --ion-color-semi-dark-gradient: linear-gradient(#f1304d, #f21c3c);
   --ion-color-semi-dark-gradient-rgb: 244, 244, 244;
   --ion-color-semi-dark-gradient-contrast: #fff5f5;
   --ion-color-semi-dark-gradient-contrast-rgb: 0, 0, 0;
   --ion-color-semi-dark-gradient-shade: #d7d8da;
   --ion-color-semi-dark-gradient-tint: #f5f6f9;

  /** sentiment **/
  --ion-color-sentiment: linear-gradient(to right, #c04174, #ffe26d, #f5f6f9, #28e070);
  --ion-color-sentiment-rgb: 244, 244, 244;
  --ion-color-sentiment-contrast: #fff5f5;
  --ion-color-sentiment-contrast-rgb: 0, 0, 0;
  --ion-color-sentiment-shade: #d7d8da;
  --ion-color-sentiment-tint: #f5f6f9;

  /** info **/
  --ion-color-info: #f7e393;
  --ion-color-info-rgb: 255, 206, 0;
  --ion-color-info-contrast: #000;
  --ion-color-info-contrast-rgb: 255, 255, 255;
  --ion-color-info-shade: #cec294;
  --ion-color-info-tint: #8f740b;
}
