<ion-header [appScrollTracker] = 'scrollArea'>
  <ion-toolbar color="primary">
    <ion-title>
      {{stringKey.P_P}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outline" (click)="closeModal()">{{
            stringKey.CLOSE
        }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- header -->
<ion-content color="light" #scrollArea scrollEvents="true">
  <!-- page title -->
  <app-page-info-title [title]="stringKey.P_P" [info]="stringKey.P_P_INFO"></app-page-info-title>
  <!-- page title -->
  <ion-card>
    <ion-row lines="none" style="margin: 10px; font-size: 18px">
      <p style="margin-bottom: 0in">You use Newsent services, you trust us
        with your information. This Privacy Policy is meant to help you
        understand what data we collect, why we collect it, and what we do
        with it. This is important; we hope you will take time to read it
        carefully. And remember, you can find controls to manage your
        information and protect your privacy and security at My
        Account.<br><br>There are many different ways you can use our
        services – to search for and share information, to communicate with
        other people or to create new content. When you share information
        with us, for example by creating a Newsent Account, we can make those
        services even better – to show you more relevant search results and
        ads, to help you connect with people or to make sharing with others
        quicker and easier. As you use our services, we want you to be clear
        how we’re using information and the ways in which you can protect
        your privacy.<br><br><b>Information we collect</b><br><br>We collect
        information to provide better services to all of our users – from
        figuring out basic stuff like which language you speak, to more
        complex things like which ads you’ll find most useful, the people
        who matter most to you online, or which YouTube videos you might
        like.<br><br>We collect information in the following
        ways:<br><br>Information you give us. For example, many of our
        services require you to sign up for a Newsent Account. When you do,
        we’ll ask for personal information, like your name, email address,
        telephone number or credit card to store with your account. If you
        want to take full advantage of the sharing features we offer, we
        might also ask you to create a publicly visible Newsent Profile,
        which may include your name and photo.<br><br>Information we get from
        your use of our services. We collect information about the services
        that you use and how you use them, like when you visit a website that
        uses our advertising services, or view and interact with our ads and
        content. This information includes:<br><br><b>Device information</b><br><br>We
        collect device-specific information (such as your hardware model,
        operating system version, unique device identifiers, and mobile
        network information including phone number). Newsent may associate
        your device identifiers or phone number with your Newsent
        Account.<br><br><b>Log information</b><br><br>When you use our
        services or view content provided by Newsent, we automatically
        collect and store certain information in server logs. This
        includes:<br><br>- details of how you used our service, such as your
        search queries.<br>- telephony log information like your phone
        number, calling-party number, forwarding numbers, time and date of
        calls, duration of calls, SMS routing information and types of
        calls.<br>Internet protocol address.<br>- device event information
        such as crashes, system activity, hardware settings, browser type,
        browser language, the date and time of your request and referral
        URL.<br>- cookies that may uniquely identify your browser or your
        Newsent Account.<br><br>
      </p>
      <p style="margin-bottom: 0in"><b>Location information</b><br><br>When
        you use Newsent services, we may collect and process information
        about your actual location. We use various technologies to determine
        location, including IP address, GPS, and other sensors that may, for
        example, provide Newsent with information on nearby devices, Wi-Fi
        access points and cell towers.<br><br><b>Unique application
          numbers<br></b><br>Certain services include a unique application
        number. This number and information about your installation (for
        example, the operating system type and application version number)
        may be sent to Newsent when you install or uninstall that service or
        when that service periodically contacts our servers, such as for
        automatic updates.<br><br><b>Local storage</b><br><br>We may collect
        and store information (including personal information) locally on
        your device using mechanisms such as browser web storage (including
        HTML 5) and application data caches.<br><br><b>Cookies and similar
          technologies</b><br><br>We and our partners use various technologies
        to collect and store information when you visit a Newsent service,
        and this may include using cookies or similar technologies to
        identify your browser or device. We also use these technologies to
        collect and store information when you interact with services we
        offer to our partners, such as advertising services or Newsent
        features that may appear on other sites. <br>Information we collect
        when you are signed in to Newsent, in addition to information we
        obtain about you from partners, may be associated with your Newsent
        Account. When information is associated with your Newsent Account, we
        treat it as personal information.
      </p>
      <p style="margin-bottom: 0in"><br>
        <font size="3" style="font-size: 13pt"><b>How
            we use information we collect</b></font><br><br>We use the
        information we collect from all of our services to provide, maintain,
        protect and improve them, to develop new ones, and to protect Newsent
        and our users. We also use this information to offer you tailored
        content – like giving you more relevant search results and ads.<br><br>We
        may use the name you provide for your Newsent Profile across all of
        the services we offer that require a Newsent Account. In addition, we
        may replace past names associated with your Newsent Account so that
        you are represented consistently across all our services. If other
        users already have your email, or other information that identifies
        you, we may show them your publicly visible Newsent Profile
        information, such as your name and photo.<br><br>If you have a
        Newsent Account, we may display your Profile name, Profile photo, and
        actions you take on Newsent or on third-party applications connected
        to your Newsent Account (such as +1’s, reviews you write and
        comments you post) in our services, including displaying in ads and
        other commercial contexts. We will respect the choices you make to
        limit sharing or visibility settings in your Newsent Account.<br><br>When
        you contact Newsent, we keep a record of your communication to help
        solve any issues you might be facing. We may use your email address
        to inform you about our services, such as letting you know about
        upcoming changes or improvements.<br><br>We use information collected
        from cookies and other technologies, to improve your user experience
        and the overall quality of our services. For example, by saving your
        language preferences, we’ll be able to have our services appear in
        the language you prefer. When showing you tailored content, we will
        not associate an identifier from cookies or similar technologies with
        sensitive categories, such as those based on race, religion, sexual
        orientation or health.<br><br>Our automated systems analyze your
        content (including emails) to provide you personally relevant product
        features, such as customized search results, tailored advertising,
        and spam and malware detection.<br><br>We may combine personal
        information from one service with information, including personal
        information, from other Newsent services – for example to make it
        easier to share things with people you know. We will not combine
        DoubleClick cookie information with personally identifiable
        information unless we have your opt-in consent.<br><br>We will ask
        for your consent before using information for a purpose other than
        those that are set out in this Privacy Policy.<br><br>Newsent
        processes personal information on our servers in many countries
        around the world. We may process your personal information on a
        server located outside the country where you live.<br>Information you
        share<br><br>Many of our services let you share information with
        others. Remember that when you share information publicly, it may be
        indexable by search engines, including Newsent. Our services provide
        you with different options on sharing and removing your content.<br><br>
      </p>
      <p style="margin-bottom: 0in">
        <font size="3" style="font-size: 13pt"><b>Accessing
            and updating your personal information</b></font><br><br>Whenever you
        use our services, we aim to provide you with access to your personal
        information. If that information is wrong, we strive to give you ways
        to update it quickly or to delete it – unless we have to keep that
        information for legitimate business or legal purposes. When updating
        your personal information, we may ask you to verify your identity
        before we can act on your request.<br><br>We may reject requests that
        are unreasonably repetitive, require disproportionate technical
        effort (for example, developing a new system or fundamentally
        changing an existing practice), risk the privacy of others, or would
        be extremely impractical (for instance, requests concerning
        information residing on backup systems).<br><br>Where we can provide
        information access and correction, we will do so for free, except
        where it would require a disproportionate effort. We aim to maintain
        our services in a manner that protects information from accidental or
        malicious destruction. Because of this, after you delete information
        from our services, we may not immediately delete residual copies from
        our active servers and may not remove information from our backup
        systems.<br><br>
      </p>
      <p style="margin-bottom: 0in"><br>
      </p>
      <p style="margin-bottom: 0in">
        <font size="4"><b>Information we
            share<br></b></font><br>We do not share personal information with
        companies, organizations and individuals outside of Newsent unless
        one of the following circumstances applies:<br><br><b>With your
          consent</b><br><br>We will share personal information with companies,
        organizations or individuals outside of Newsent when we have your
        consent to do so. We require opt-in consent for the sharing of any
        sensitive personal information.<br><br><b>With domain
          administrators</b><br><br>If your Newsent Account is managed for you
        by a domain administrator (for example, for Newsent Apps users) then
        your domain administrator and resellers who provide user support to
        your organization will have access to your Newsent Account
        information (including your email and other data). Your domain
        administrator may be able to:<br><br>- view statistics regarding your
        account, like statistics regarding applications you install.<br>change
        your account password.<br>- suspend or terminate your account
        access.<br>- access or retain information stored as part of your
        account.<br>- receive your account information in order to satisfy
        applicable law, regulation, legal process or enforceable governmental
        request.<br>- restrict your ability to delete or edit information or
        privacy settings.<br><br>
      </p>
      <p style="margin-bottom: 0in">Please refer to your domain
        administrator’s privacy policy for more information.<br><br><b>For
          external processing</b><br><br>We provide personal information to our
        affiliates or other trusted businesses or persons to process it for
        us, based on our instructions and in compliance with our Privacy
        Policy and any other appropriate confidentiality and security
        measures.<br><br><b>For legal reasons</b><br><br>We will share
        personal information with companies, organizations or individuals
        outside of Newsent if we have a good-faith belief that access, use,
        preservation or disclosure of the information is reasonably necessary
        to:<br><br>- meet any applicable law, regulation, legal process or
        enforceable governmental request.<br>- enforce applicable Terms of
        Service, including investigation of potential violations.<br>detect,
        prevent, or otherwise address fraud, security or technical issues.<br>-
        protect against harm to the rights, property or safety of Newsent,
        our users or the public as required or permitted by law.</p>
      <p style="margin-bottom: 0in"><br>
      </p>
      <p style="margin-bottom: 0in"><br>
      </p>
      <p style="margin-bottom: 0in">
        <font size="4"><b>Information
            security</b></font><br><br>We work hard to protect Newsent and our
        users from unauthorized access to or unauthorized alteration,
        disclosure or destruction of information we hold. We review our
        information collection, storage and processing practices, including
        physical security measures, to guard against unauthorized access to
        systems.<br>We restrict access to personal information to Newsent
        employees, contractors and agents who need to know that information
        in order to process it for us, and who are subject to strict
        contractual confidentiality obligations and may be disciplined or
        terminated if they fail to meet these obligations.<br><br>
      </p>
      <p style="margin-bottom: 0in">
        <font size="3" style="font-size: 13pt"><b>When
            this Privacy Policy applies<br></b></font><br>Our Privacy Policy
        applies to all of the services offered by Newsent Inc. and its
        affiliates, including YouTube, services Newsent provides on Android
        devices, and services offered on other sites (such as our advertising
        services), but excludes services that have separate privacy policies
        that do not incorporate this Privacy Policy.<br><br>Our Privacy
        Policy does not apply to services offered by other companies or
        individuals, including products or sites that may be displayed to you
        in search results, sites that may include Newsent services, or other
        sites linked from our services. Our Privacy Policy does not cover the
        information practices of other companies and organizations who
        advertise our services, and who may use cookies, pixel tags and other
        technologies to serve and offer relevant ads.<br><br>
        <font size="4"><b>Compliance
            and cooperation with regulatory authorities</b></font><br><br>We
        regularly review our compliance with our Privacy Policy. We also
        adhere to several self regulatory frameworks. When we receive formal
        written complaints, we will contact the person who made the complaint
        to follow up. We work with the appropriate regulatory authorities,
        including local data protection authorities, to resolve any
        complaints regarding the transfer of personal data that we cannot
        resolve with our users directly.<br><br>
        <font size="4"><b>Changes</b></font><br><br>Our
        Privacy Policy may change from time to time. We will not reduce your
        rights under this Privacy Policy without your explicit consent. We
        will post any privacy policy changes on this page and, if the changes
        are significant, we will provide a more prominent notice (including,
        for certain services, email notification of privacy policy changes).
        We will also keep prior versions of this Privacy Policy in an archive
        for your review.
      </p>
    </ion-row>
  </ion-card>
</ion-content>