<ion-content fullscreen class="ion-padding" scroll-y="false" lines="none">
  <ion-item lines="none">
    <ion-buttons slot="start" (click)="prev()" *ngIf="showPrevious">
      <ion-icon color="primary" slot="start" [src]="stringKey.ICON_LEFT_ARROW"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" (click)="next()" *ngIf="showNext">
      <ion-icon color="primary" slot="start" [src]="stringKey.ICON_RIGHT_ARROW"></ion-icon>
    </ion-buttons>
  </ion-item>

  <ion-slides lines="none" #slides (ionSlideDidChange)="slideChanged(slides)" (ionSlideReachEnd)="reachedEnd($event)"
    (ionSlideReachStart)="reachedBegining($event)">

    <ion-slide *ngFor="let slide of slideArray">
        <ion-grid lines="none">
          <p align="center" class="swiper-slide">
            <img width="100" [src]="['./assets/images/'+slide.imageName+'.svg']" />
          </p>
          <ion-row justify-content-center lines="none">
            <ion-col align-self-center size-md="12" size-lg="12" size-xs="12" lines="none">
              <div class="slide">
                <h2 color="dark"><b>{{slide.title}}</b></h2>
                <p>{{slide.info}}</p>
                <ion-button color="primary" (click)="endIntro()">
                  {{slide.buttonText}}
                  <ion-icon slot="end" [src]="stringKey.ICON_RIGHT_ARROW"></ion-icon>
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      
    </ion-slide>
  </ion-slides>
</ion-content>